body{
    margin:0px;
}

img  {
    float: left;
}

.text {
    padding-left: 50px;
}

#teams {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-right: 5%;
    margin-left: 5%;
    width: 95%;
}

#teams tr:hover {background-color: rgb(221, 221, 221);}

#teams th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}

/* .table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgb(191, 200, 214); 
}
 */
